.MyRank {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr [content-start] 1fr [content-end] 1fr;
	grid-template-rows: 1fr [content-top] repeat(5, auto) [content-bottom];
}

@media (max-width: 1000px) {
	.MyRank {
		grid-template-columns: [content-start] 1fr 1fr [content-end];
	}
}

@media (max-width: 600px) {
	.MyRank {
		grid-template-columns: [content-start] 1fr [content-end];
	}
}

.MyRank h1 {
	grid-column: 1 / span 3;
}

.MyRank .rank {
	grid-column: content-start / content-end;
	grid-row: content-top / content-bottom;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.MyRank .rank img {
	width: 200px;
}

.MyRank .rank .name {
	font-size: 140%;
	font-weight: 700;
}