.EvaluateGroup {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.EvaluateGroup .card {
    display: flex;
    flex-grow: 1;
}

.EvaluateGroup .ant-menu {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;
}

.EvaluateGroup .list-header {
    padding: 16px;
    font-weight: 600;
    border-bottom: 1px solid rgba(0,0,0,.12);
}

.EvaluateGroup .list {
    border-right: 1px solid rgba(0,0,0,.12);
}

.EvaluateGroup .exercise-panel {
    display: flex;
    flex-direction: column;
}

.EvaluateGroup .next {
    border-top: 1px solid rgba(0,0,0,.12);
    padding: 16px;
}

.EvaluateGroup .next button {
    float: right;
}