.ExercisesList {
    flex-grow: 1;
	max-width: 916px;
}

.ExercisesList h1 {
    margin: 0;
}

.ExercisesList .header {
    display: flex;
    align-items: center;
    padding: 16px;
}

.ExercisesList .table-header,
.ExercisesList .header {
    border-bottom: 1px solid rgba(0,0,0,.12);
    background-color: #FCFCFC;
}

.ExercisesList .header button {
    margin-left: auto;
}

.ExercisesList .table-header {
    padding: 4px 32px;
    text-transform: uppercase;
    font-size: 80%;
}

.ExercisesList .empty {
    align-self: center;
    padding: 32px;
}

.ExercisesList .Exercises {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.ExercisesList .table-header {
    display: grid;
    grid-template-columns: 0.25fr 0.5fr 0.9fr 0.3fr 0.25fr;
}

.ExercisesList .item:hover,
.ExercisesList .dragged .item {
    background-color: #FCFCFC;
}

.exercises {
  overflow-y: scroll;
}
