.NewRank {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    border-radius: 8px;
    background-color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
}

.NewRank h1 {
    text-align: center;
    font-weight: 600;
}

.NewRank h2 {
    margin-top: 20px;
}

.NewRank .infos-title {
    margin-top: 0;
}

.NewRank .name {
    margin-bottom: 8px;
}

.NewRank .image-upload {
    margin-left: auto;
    margin-right: auto;
}

.NewRank .ant-upload-list-item,
.NewRank .ant-upload-select {
    margin: 0;
}

.NewRank .uploaded-image {
    max-width: 100%;
}

.NewRank .actions {
    display: flex;
    margin-top: 30px;
}

.NewRank .save {
    margin-left: auto;
}

.NewRank .error {
    color: red;
    margin-bottom: 20px;
}
