.EvaluateCriteria {
    display: flex;
    align-items: center;
    margin: 16px 32px;
}

.EvaluateCriteria .name {
    margin-left: 24px;
}

.EvaluateCriteria .input,
.EvaluateCriteria .addon {
    flex-grow: 1;
}
