.TestForm {
    justify-self: center;
    max-width: 500px;
    padding: 16px;
    flex-shrink: 0;
}

.TestForm h1 {
    text-align: center;
    font-weight: 600;
}

.TestForm h2 {
    margin-top: 20px;
}

.TestForm .name-title {
    margin-top: 0;
}

.TestForm .date-picker {
    width: unset;
}

.TestForm .address {
    margin-bottom: 8px;
}

.TestForm .actions {
    display: flex;
    margin-top: 30px;
}

.TestForm .save {
    margin-left: auto;
}

.TestForm .error {
    color: red;
    margin-bottom: 20px;
}

.TestForm .program {
    margin-left: 12px;
}
