.RankItem {
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.4fr;
}

.RankItem  {
    flex-shrink: 0;
    width: auto;
    padding: 16px 32px;
    position: relative;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
}

.RankItem .name {
    align-items: center;
    display: flex;
    font-weight: 600;
}

.RankItem .exercises {
    white-space: nowrap;
}

.RankItem img {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

.RankItem .actions {
    margin-left: 32px;
    display: grid;
}

.RankItem a {
    line-height: 0;
}

.RankItem .edit,
.RankItem .delete {
    fill: #585858;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.RankItem .edit:hover,
.RankItem .delete:hover {
    fill: black;
}

.RankItem .actions {
    opacity: 0;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
}

.RankItem:hover .actions {
    opacity: 1;
}
