.MemberSpace .member,
.MemberSpace .upcoming-evaluations {
    display: flex;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    border-radius: 8px;
    background-color: white;
    flex-direction: column;
}

.MemberSpace .member {
    padding: 16px;
    margin-bottom: 16px; 
}

.MemberSpace .edit {
    display: flex;
}

.MemberSpace .edit button {
    margin-left:auto;
}

.MemberSpace .img_info {
    display: flex;
    align-items: center;
}

.MemberSpace .img_info .info {
    margin-left: 16px;
}

.MemberSpace .img_info .info .head {
    font-size: 130%;
    font-weight: 600;
}

.MemberSpace .img_info .info .line {
    margin: 8px;
}

.MemberSpace .header {
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 16px;
}

.MemberSpace .top{
    display: flex;
}

.MemberSpace .evaluations {
    overflow-y: auto;
    max-height: 500px;
}

.MemberSpace .evaluation  {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    border-radius: 8px;
    background-color: white;
    flex-shrink: 0;
    margin: 16px;
    width: auto;
    padding: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
}

.MemberSpace .Search {
    width: 400px;
    margin-left: 16px;
}

.MemberSpace .select {
    width: 200px;
}

.MemberSpace .evaluation-header {
    display: flex;
    margin-bottom: 16px;
}

.MemberSpace .title-type {
    display: flex;
    flex-direction: column;
}

.MemberSpace .title {
    font-size: 130%;
    font-weight: 700;
}

.MemberSpace .type {
    font-size: 80%;
}

.MemberSpace .date {
    margin-left: auto;
}

.MemberSpace .body {
    display: flex;
    align-items: flex-end;
}

.MemberSpace .descriptions {
    display: flex;
    flex-direction: column;
}

