.EvaluationForm {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    border-radius: 8px;
    background-color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
}

.EvaluationForm h1 {
    text-align: center;
    font-weight: 600;
}

.EvaluationForm h2 {
    margin-top: 20px;
}

.EvaluationForm .name-title {
    margin-top: 0;
}

.EvaluationForm .date-picker {
    width: unset;
}

.EvaluationForm .address {
    margin-bottom: 8px;
}

.EvaluationForm .actions {
    display: flex;
    margin-top: 30px;
}

.EvaluationForm .save {
    margin-left: auto;
}

.EvaluationForm .error {
    color: red;
    margin-bottom: 20px;
}
