.EvaluationItem  {
    flex-shrink: 0;
    width: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid #e8e8e8;
}

.EvaluationItem:hover {
    background-color: #FCFCFC;
}

.EvaluationItem button{
    display: flex;
    margin-left: inherit;
}

.EvaluationItem .evaluation-header {
    display: flex;
    margin-bottom: 16px;
}

.EvaluationItem .title-type {
    display: flex;
    flex-direction: column;
}

.EvaluationItem .title {
    font-size: 130%;
    font-weight: 700;
}

.EvaluationItem .type {
    font-size: 80%;
}

.EvaluationItem .actions,
.EvaluationItem .date {
    margin-left: auto;
}

.EvaluationItem .body,
.EvaluationItem .actions {
    display: flex;
    align-items: flex-end;
}

.EvaluationItem .descriptions {
    display: flex;
    flex-direction: column;
}

.EvaluationItem .actions button {
    margin-left: 16px;
}

.EvaluationItem .date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-style: italic;
}

