.ExercisesScales .dragged,
.ExercisesScales .draggable {
    border: 1px solid #d9d9d9;
    border-bottom: none;
    padding: 12px;
    background-color: #FCFCFC;
}

.ExercisesScales .dragged,
.ExercisesScales .draggable:last-child {
    border-bottom: 1px solid #d9d9d9;
}

.ExercisesScales .dragged,
.ExercisesScales .draggable:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.ExercisesScales .dragged,
.ExercisesScales .draggable:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.ExerciseScale .remove {
    width: 12px;
    fill: #585858;
    margin-right: 12px;
    cursor: pointer;
}

.ExerciseScale .remove:hover {
    fill: red;
}

.ExerciseScale .header {
    display: flex;
    align-items: center;
}

.ExerciseScale .exercise-name {
    font-weight: 600;
}

.ExerciseScale .exercise-name:hover {
    /* color: #1890FF!important; */
    cursor: pointer;
    text-decoration: underline;
}

.ExerciseScale .exercise-type {
    margin-left: auto;
    font-size: 80%;
}

.ExerciseScale .criterion,
.ExerciseScale .rounds-number {
    margin-top: 12px;
    margin-left: 26px;
    margin-right: 26px;
}

.ExerciseScale .rounds-number {
    display: flex;
}

.ExerciseScale .question-scale {
    display: flex;
    margin-left: 24px;
    margin-top: 10px;
}

.ExerciseScale .Question {
    margin-top: 10px;
    font-style:italic
}
.ExerciseScale .rounds-input {
    margin-left: 12px;
}

.ExerciseScale .criterion .criteria {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
}

.ExerciseScale .criterion .criteria:first-child {
    margin-top: 0;
}

.ExerciseScale .criterion .criteria:last-child {
    margin-bottom: 0;
}

.ExerciseScale .criteria-scale {
    margin-left: auto;
}

.ExerciseScale .round-title {
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 600;
}

.ExerciseScale .InputNumber .input,
.ExerciseScale .InputNumber .ant-input-number-input {
    height: 24px;
    max-width: 40px;
}